<div class="container">

    <div class="login-form">
      <form [formGroup]="userForm" method="post">
        <div class="form-group">
          <label>Username</label>
          <input
            type="text"
            class="form-control"
            placeholder="Username"
            formControlName="userName"
            required
          />
        </div>
        <div class="form-group">
          <label>Password</label>
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            formControlName="password"
            required/>
        </div>
        <button
          type="submit"
          class="btn btn-secondary"
          (click)="registerClick()">
          Register
        </button>
        <!--
               <button type="submit" class="btn btn-black" [disabled]="disabledCheck()" (click)="loginClick()">Login</button>
        -->
        <button
          type="submit"
          class="btn btn-secondary"
          [disabled]="userForm.invalid"
          (click)="loginClick()">
          Login
        </button>
      </form>
    </div>

  </div>

