<!--
<form [formGroup]="itemOfferForm">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-6 left">
          <div>
            <table  class="table table-borderless table-hover form-group" >
              <thead style="font-size:19px;">
              <tr>
                <th scope="col" >#</th>
                <th scope="col" >Name</th>
                <th scope="col" >Description</th>
                <th scope="col" >Status</th>
                <th scope="col" >Creation Date</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of listOfItems.controls; let i = index" formArrayName="list" (click)="selectItem(item.value)">
                <th scope="row">{{i + 1}}</th>
                <td>{{item.value.name}}</td>
                <td>{{item.value.description}}</td>
                <td>{{item.value.status}}</td>
                <td>{{item.value.creationDate}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="col-6 right">
          <table class="table table-borderless table-hover">
            <thead style="font-size:19px;">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Status</th>
              <th scope="col">Creation Date</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">1</th>
              <td>{{selectedOfItems.name}}</td>
              <td>{{selectedOfItems.description}}</td>
              <td>{{selectedOfItems.status}}</td>
              <td>{{selectedOfItems.creationDate}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div style="padding-left: 700px;">
      <button
        type="submit"
        class="btn-continue btn-secondary"
        (click)="selectedOfferClick()">Continue
      </button>
    </div>
  </div>
</form>


-->
