
.register-form{
    padding-top: 300px;
    padding-bottom: 300px;
    text-align: center;
}
.form-group{
    margin: 20px;
    font-size: 20px;
}
.input{
    font-size: 20px;
}
.btn{
    margin: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
    background-color:white;
}
.label{
    width: 100px;
    height: 100px;
    text-align: right;
}